"@type": type.googleapis.com/osac.private.v1.InstanceType
metadata:
  name: {{ ocp4_workload_osac_demo_instance_type_name }}
spec:
  cores: {{ ocp4_workload_osac_demo_instance_type_cores }}
  memory_gib: {{ ocp4_workload_osac_demo_instance_type_memory_gib }}
  description: "{{ ocp4_workload_osac_demo_instance_type_description }}"
