apiVersion: v1
kind: Config
clusters:
- name: local-cluster
  cluster:
    insecure-skip-tls-verify: true
    server: {{ ocp4_workload_register_sno_rhacm_openshift_api_url }}
- name: {{ ocp4_workload_register_sno_cluster_name }}
  cluster:
    insecure-skip-tls-verify: true
    server: {{ aws_sno_provision_data.openshift_api_url }}
contexts:
- name: local-cluster
  context:
    cluster: local-cluster
    user: local-cluster-admin
- name: {{ ocp4_workload_register_sno_cluster_name }}
  context:
    cluster: {{ ocp4_workload_register_sno_cluster_name }}
    user: {{ ocp4_workload_register_sno_cluster_name }}-admin
current-context: local-cluster
users:
- name: local-cluster-admin
  user:
    token: {{ ocp4_workload_register_sno_rhacm_openshift_api_token }}
- name: {{ ocp4_workload_register_sno_cluster_name }}-admin
  user:
    token: {{ aws_sno_provision_data.openshift_cluster_admin_token }}
