---
apiVersion: addon.open-cluster-management.io/v1alpha1
kind: ManagedClusterAddOn
metadata:
  name: governance-policy-framework
  namespace: {{ ocp4_workload_register_sno_cluster_name }}
spec:
  installNamespace: open-cluster-management-agent-addon
---
apiVersion: addon.open-cluster-management.io/v1alpha1
kind: ManagedClusterAddOn
metadata:
  name: config-policy-controller
  namespace: {{ ocp4_workload_register_sno_cluster_name }}
spec:
  installNamespace: open-cluster-management-agent-addon
