---
apiVersion: cluster.open-cluster-management.io/v1beta2
kind: ManagedClusterSetBinding
metadata:
  name: {{ ocp4_workload_prepare_hcp_clusterset_name }}
  namespace: {{ ocp4_workload_prepare_hcp_policy_namespace }}
spec:
  clusterSet: {{ ocp4_workload_prepare_hcp_clusterset_name }}
