---
apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: gitops-placement
  namespace: {{ ocp4_workload_prepare_hcp_policy_namespace }}
spec:
  clusterSets:
  - {{ ocp4_workload_prepare_hcp_gitops_operator_clusterset }}
  predicates:
{% for cloud_label in ocp4_workload_prepare_hcp_gitops_operator_placement_cloud_labels %}
  - requiredClusterSelector:
      labelSelector:
        matchLabels:
          cloud: {{ cloud_label }}
{% endfor %}
