---
apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: gitops-placement
  namespace: {{ ocp4_workload_prepare_hcp_policy_namespace }}
spec:
  clusterSets:
{% for clusterset in ocp4_workload_prepare_hcp_gitops_operator_clustersets %}
  - {{ clusterset }}
{% endfor %}
  predicates:
{% for label in ocp4_workload_prepare_hcp_gitops_operator_placement_labels %}
  - requiredClusterSelector:
      labelSelector:
        matchLabels:
{% for key, value in label.items() %}
          {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
