---
apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  name: policy-compliance-operator
  namespace: {{ ocp4_workload_prepare_hcp_policy_namespace }}
spec:
  disabled: false
  remediationAction: enforce
  policy-templates:
  - objectDefinition:
      apiVersion: policy.open-cluster-management.io/v1
      kind: ConfigurationPolicy
      metadata:
        name: compliance-operator-namespace
      spec:
        remediationAction: enforce
        severity: high
        object-templates:
        - complianceType: musthave
          objectDefinition:
            apiVersion: v1
            kind: Namespace
            metadata:
              name: openshift-compliance
  - objectDefinition:
      apiVersion: policy.open-cluster-management.io/v1
      kind: ConfigurationPolicy
      metadata:
        name: compliance-operator-operatorgroup
      spec:
        remediationAction: enforce
        severity: high
        object-templates:
        - complianceType: musthave
          objectDefinition:
            apiVersion: operators.coreos.com/v1
            kind: OperatorGroup
            metadata:
              name: openshift-compliance-operator-og
              namespace: openshift-compliance
            spec: {}
  - objectDefinition:
      apiVersion: policy.open-cluster-management.io/v1
      kind: ConfigurationPolicy
      metadata:
        name: compliance-operator-subscription
      spec:
        remediationAction: enforce
        severity: high
        object-templates:
        - complianceType: musthave
          objectDefinition:
            apiVersion: operators.coreos.com/v1alpha1
            kind: Subscription
            metadata:
              name: openshift-compliance
              namespace: openshift-compliance
            spec:
              channel: {{ ocp4_workload_prepare_hcp_compliance_operator_channel }}
              installPlanApproval: {{ ocp4_workload_prepare_hcp_compliance_operator_approval }}
              name: compliance-operator
              source: {{ ocp4_workload_prepare_hcp_compliance_operator_source }}
              sourceNamespace: {{ ocp4_workload_prepare_hcp_compliance_operator_source_namespace }}
---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: binding-policy-compliance
  namespace: {{ ocp4_workload_prepare_hcp_policy_namespace }}
placementRef:
  apiGroup: cluster.open-cluster-management.io
  kind: Placement
  name: compliance-placement
subjects:
- apiGroup: policy.open-cluster-management.io
  kind: Policy
  name: policy-compliance-operator
