---
apiVersion: v1
kind: Secret
metadata:
  name: {{ ocp4_workload_prepare_hcp_secret_name }}
  namespace: {{ ocp4_workload_prepare_hcp_secret_namespace }}
  labels:
    cluster.open-cluster-management.io/credentials: ""
    cluster.open-cluster-management.io/type: kubevirt
type: Opaque
stringdata:
  pullSecret: "{{ ocp4_workload_prepare_hcp_pull_secret }}"
  ssh-publickey: "{{ ocp4_workload_prepare_hcp_ssh_public_key | default('') }}"
