---
apiVersion: v1
kind: Secret
metadata:
  name: {{ ocp4_workload_prepare_hcp_secret_name }}
  namespace: {{ ocp4_workload_prepare_hcp_secret_namespace }}
  labels:
    cluster.open-cluster-management.io/credentials: ""
    cluster.open-cluster-management.io/type: kubevirt
type: Opaque
stringdata:
  {# ocp4_workload_prepare_hcp_pull_secret may be either a dict (mapping) or a JSON string.       #}
  {# The secret needs an quoted JSON string for the pullSecret. #}
  {# Passing a json string through to_json gives us the quoted string.       #}
  {# To get to the quoted JSON string from a mapping we call to_json twice.  #}
  pullSecret: "{{ ocp4_workload_prepare_hcp_pull_secret | to_json | to_json if ocp4_workload_prepare_hcp_pull_secret is mapping else ocp4_workload_prepare_hcp_pull_secret | to_json }}"
  ssh-publickey: "{{ ocp4_workload_prepare_hcp_ssh_public_key | default('') }}"
