---
apiVersion: cluster.open-cluster-management.io/v1beta2
kind: ManagedClusterSet
metadata:
  name: {{ ocp4_workload_prepare_environment_clusterset_name }}
spec:
  clusterSelector:
    selectorType: ExclusiveClusterSetLabel
