---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: policy-acs-secured-cluster
  namespace: {{ ocp4_workload_prepare_environment_acs_policy_namespace }}
placementRef:
  apiGroup: cluster.open-cluster-management.io
  kind: Placement
  name: acs-secured-cluster-placement
subjects:
- apiGroup: policy.open-cluster-management.io
  kind: Policy
  name: acs-secured-cluster
