---
apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: acs-secured-cluster-placement
  namespace: {{ ocp4_workload_prepare_environment_acs_policy_namespace }}
spec:
  clusterSets:
{% for clusterset in ocp4_workload_prepare_environment_acs_clustersets %}
  - {{ clusterset }}
{% endfor %}
  tolerations:
  - key: cluster.open-cluster-management.io/unreachable
    operator: Exists
  - key: cluster.open-cluster-management.io/unavailable
    operator: Exists
{% if ocp4_workload_prepare_environment_acs_placement_labels | length > 0 %}
  predicates:
{% for label in ocp4_workload_prepare_environment_acs_placement_labels %}
  - requiredClusterSelector:
      labelSelector:
        matchLabels:
{% for key, value in label.items() %}
          {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% endif %}
