---
- name: Create namespace
  kubernetes.core.k8s:
    state: present
    api_version: v1
    kind: Namespace
    name: "{{ ocp4_workload_prepare_hcp_secret_namespace }}"

- name: Retrieve pull-secret from openshift-config namespace
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: pull-secret
    namespace: openshift-config
  register: r_pull_secret

- name: Extract .dockerconfigjson from pull-secret
  ansible.builtin.set_fact:
    pull_secret_json: "{{ r_pull_secret.resources[0].data['.dockerconfigjson'] | b64decode }}"

- name: Create secret on RHACM (copy of pull-secret)
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ ocp4_workload_prepare_hcp_secret_name }}"
        namespace: "{{ ocp4_workload_prepare_hcp_secret_namespace }}"
        labels:
          cluster.open-cluster-management.io/credentials: ""
          cluster.open-cluster-management.io/type: kubevirt
      type: Opaque
      stringData:
        pullSecret: "{{ pull_secret_json }}"
  retries: 10
  delay: 10

- name: Save user information
  agnosticd.core.agnosticd_user_info:
    data:
      hcp_secret: "{{ ocp4_workload_prepare_hcp_secret_name }}"
      hcp_secret_namespace: "{{ ocp4_workload_prepare_hcp_secret_namespace }}"
